<div id="contact" class="container">
    <h2>Contact Me</h2>
    <div class="form">
        <form class="form1">
            <input class="field" type="text" id="fname" name="fname" placeholder="Full Name"> 
            <input class="field" type="text" id="email" name="email" placeholder="Email">
            <input class="field" type="text" id="subject" name="subject" placeholder="Subject">
            <textarea class="field" id="message" name="message" placeholder="Write message" style="height:80px"></textarea>
            <button class="button">Submit</button>
        </form>
    </div>
</div>