<div class="container">
    <div class="port">
        <!-- ?\<h4>Hello, my name is</h4> -->
        <h1>Toriola A. Pelumi</h1>
        <h3>Software Engineer</h3>
        <div class="description">
          <p>Based in Lagos, Nigeria.</p>
          <p>Get in touch for availability.</p>
         <div>
          <ul class="link">
            <li><a href="linkedin.com/in/abosede-pelumi-toriola-63ab70205">LinkedIn</a> </li>
            <li><a href="github.com/p3lumi">Github</a> </li>
            <li><a href="https://www.behance.net/toriolaabosede">Behance</a> </li>
            <li><a href="instagram.com/@_p3lumi">Instagram</a> </li>
          </ul>
         </div>
        
        <div class="share">
          <a href="#" class="btn">Hire Me</a>    
      </div>
      </div>
        
      </div>
      
    <!-- <div class="description"> -->
      <div class="image">
        <img src="../assets/pic-preview.png">
        </div>
  <!-- </div> -->
</div>


